<div class="depot_form">
  <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  
  <%= form_tag do %>
    <fieldset>
      <legend><%= t('.title') %></legend>

      <div>
        <label for="name"><%= t('.name') %>:</label>
          <%= text_field_tag :name, params[:name] %>
      </div>

      <div>
        <label for="password"><%= t('.password') %>:</label>
        <%= password_field_tag :password, params[:password] %>
      </div>
			<!--
			<div id="admin_field">
          <label>Admin:</label>
          <%= radio_button_tag :admin, "false", { :checked => true } %>
          <%= label_tag :admin_false, 'False' %><br />
          <%= radio_button_tag :admin, "true" %>
          <%= label_tag :admin_true, 'True' %>
      </div>
      -->
      <div>
        <%= submit_tag t('.login'), :class => "btn btn-primary" %>
      </div>
    </fieldset>
  <% end %>
</div>


