<h1><%= t('.title') %></h1>

<table>
  <tr>
    <th><%= t('.Pcategory') %></th>
    <th><%= t('.Ccategory')%></th>
  </tr>

<% @pcategories.each do |pcategory| %>
  <tr>
    <td><%= link_to pcategory.title, edit_pcategory_path(pcategory) %></td>
    <td>
    <% pcategory.getchildcategories.each do |category| %>
        <%= link_to category.title, edit_ccategory_path(category) %><br />
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.newpcategory'), new_pcategory_path %> | 
<%= link_to t('.newccategory'), new_ccategory_path %>
