<h1>Listing categories</h1>

<table>
  <tr>
    <td><b>Pcategory</b></td>
    <td>            </td>
    <td><b>Ccategory</b></td>
  </tr>

<% @pcategories.each do |pcategory| %>
  <tr>
    <td><%= link_to pcategory.title, edit_pcategory_path(pcategory) %></td>
    <td>            </td>
    <td>
    <% pcategory.getchildcategories.each do |category| %>
        <%= link_to category.title, edit_ccategory_path(category) %><br />
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />

<% if @ccategories.length > 0 %>
<div>
  <p><b>Ccategories without pcategories.</b></p>
  <% @ccategories.each do |ccategory| %>
    <%= link_to ccategory.title, edit_ccategory_path(ccategory) %><br />
  <% end %>
</div>
<% end %>

<br />

<%= link_to 'New Pcategory', new_pcategory_path %> | 
<%= link_to 'New Ccategory', new_ccategory_path %>
