<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :grade, "Grade is:" %><br />
    <%=
    f.select :grade,
                 Comment::GRADES,
                 :prompt =>"Select a mark"
                 %>
  </div>
  <div class="field">
 
  	<%= f.label :product_id, "product id is:" %><br />
  	<% if @comment.product_id.nil? %>
  		<%= f.text_field :product_id, :value=> 99999 %>
  	<% else %>
  		<%= f.text_field :product_id, :value => @comment.product_id %>
  	<% end %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
