<h1><%= t('.search')%> "<%= params[:search] %>"</h1>

<% if @results.count.zero? %>
  未找到匹配项！
<% end %>

<% @results.each do |result| %>
  <div class="entry">
    <%= link_to(image_tag(result.image_url), result) %>
    <h3><%= link_to result.title, result %></h3>
    <%= truncate(strip_tags(result.description), :length => 400) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(result.price) %></span>
      <%= button_to t('.add'), line_items_path(:product_id => result), 
      :remote => true %>
    </div>
  </div>
<% end %>

