<h1><%= t('.welcome') %> <%= @user.name %> (<%= link_to t('.show'), user_path(@user)%>)</h1>

<%= t('.its') %> <%= Time.now %>
<%= t('.we_have') %> <%= pluralize(@total_orders, t('.order')) %>.<br /><br />
<% unless @total_orders.zero? %>
	<table class="table table-striped">
		<thead>
		<tr>
			<th><%= t('.name') %></th>
			<th><%= t('.address') %></th>
			<th><%= t('.email') %></th>
			<th><%= t('.pay_type') %></th>
			<th></th>
		</tr>
		</thead>

		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.name %></td>
					<td><%= order.address %></td>
					<td><%= order.email %></td>
					<td><%= order.pay_type %></td>
					<td><%= link_to t('.show'), order %>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>

<%= link_to t('.more_details'), orders_path %>

