<% if notice %>
	<script type="text/javascript">
  		$j(document).ready(function(){
  			alertNotice("info", "<%= notice %>", 2000);
  		});
  	</script>
<% end %>

<h1><%= t('.title') %></h1>
<table class="table">
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.group') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td>
    	<% if user.admin == true %> Admin
    	<% else %> Customer
    	<% end %>
    </td>
    <td><%= link_to t('.show'), user %></td>
    <td><%= link_to t('.edit'), edit_user_path(user) %></td>
    <td><%= link_to t('.destroy'), user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_user'), new_user_path %>

