<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>
<p>
	<b>Ship:</b>
	<%= (@order.ship)?"Yes":"No" %>
</p>

<div style="width:50%">
	<b>Items:</b>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
			<th>Quantity</th>
			<th>Title</th>
			<th style="text-align:right">Price</th>
			</tr>
		</thead>
		<%= render(@order.line_items) %>
	</table>
</div>
<% if !@order.ship %>
  <%= link_to "Ship", ship_order_path %> |
<% end %>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
