<p>
  <b><%= t('.name')%>:</b>
  <%= @order.name %>
</p>

<p>
  <b><%= t('.address')%>:</b>
  <%= @order.address %>
</p>

<p>
  <b><%= t('.email')%>:</b>
  <%= @order.email %>
</p>

<p>
  <b><%= t('.pay_type')%>:</b>
  <%= @order.pay_type %>
</p>
<p>
	<b><%= t('.ship')%>:</b>
	<%= (@order.ship)?"Yes":"No" %>
</p>

<div style="width:50%">
	<b><%= t('.items')%>:</b>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
			<th><%= t('.quantity')%></th>
			<th><%= t('.title')%></th>
			<th style="text-align:right"><%= t('.price')%></th>
			</tr>
		</thead>
		<%= render(@order.line_items) %>
	</table>
</div>
<% if !@order.ship %>
  <%= link_to t('.ship'), ship_order_path %> |
<% end %>
<%= link_to t('.edit'), edit_order_path(@order) %> |
<%= link_to t('.back'), orders_path %>
