<table class="table table-bordered table-striped">
  <thead>
	<td><%= t('.title') %></td>
	<td><%= t('.quantity') %></td>
	<td><%= t('.prices') %></td>
  </thead>
  <%= render :partial => "line_items/advanced_line_item", :collection => cart.line_items, :as => :line_item %>
  <tr class="total_line">
	<td colspan="2"><%= t('.total') %></td>
	<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	<td></td>
  </tr>
</table>