<div class="cart"><%= t('.title') %></div>
<table class="table">
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>
<div class="cart-bar">
	<%= button_to t('.empty'), cart, :remote => true, :method => :delete, :confirm => t('.confirm'), :class=>['btn', 'btn-default']%>
	<%= button_to t('.checkout'), new_order_path, :method => :get, :class=>['btn', 'btn-default'] %>
</div>
