<div class="cart"><%= t('.title') %></div>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2">Total</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<table>
	<tr>
		<td>
			<%= button_to t('.empty'), cart, :remote => true, :method => :delete, :confirm => t('.confirm') %>
		</td>
		<td style="padding-left:45px">
			<%= button_to t('.checkout'), new_order_path, :method => :get %>
		</td>
	</tr>
</table>
