<h1><%= t('.title') %></h1>

<table class="table">
  <tr>
    <th><%= t('.cartid') %></th>
    <th><%= t('.updatetime') %></th>
    <th></th>
  </tr>

<% @carts.each do |cart| %>
  <tr>
    <td><%= cart.id %></td>
    <td><%= cart.updated_at %></td>
    <td>
    	<%= link_to t('.show'), cart %> |
    	<%= link_to t('.edit'), edit_cart_path(cart) %> |
    	<%= link_to t('.destroy'), cart, :confirm => t('.confirm'), :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.newcart'), new_cart_path %>
