<div class="cart_title"><%= t('.title') %></div>
<table>
  <%= render(@cart.line_items)%>
  
  <tr class="total_line">
    <td colspan="2"><%= t('.total')%></td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to t('.empty'), @cart, :method => :delete, :confirm => t('.confirm') %>

<br />

<% if session[:admin] %>
	<%= link_to t('.edit'), edit_cart_path(@cart) %> |
<% end %>

<%= link_to t('.back'), carts_path %>
