<div class="cart_title"><%= t('.title') %></div>
<div id="advanced-cart">
	<%= render :partial => "carts/advanced_cart", :locals => {:cart => @cart} %>
</div>

<%= button_to t('.empty'), @cart, :method => :delete, :confirm => t('.confirm') %>

<% if session[:admin] %>
	<%= link_to t('.edit'), edit_cart_path(@cart) %> |
<% end %>

<%= link_to t('.back'), carts_path %>
