<h2><%= t('.title') %></h2>
<p><%= t('.line1') %></p>
<p><%= t('.line2') %></p>
<p><%= t('.line3') %></p>
<p><%= t('.line4') %></p>
<%= link_to t('.back'), :controller => "helps", :action => "index" %>