<h1><%= t('.helpcenter') %></h1>
<p><%= t('.prompt') %></p>
<dl>
  <dt><%= t('.usermanagement') %></dt>
  <dd>
    <p>
	  <%= link_to t('.register'), :controller => "helps", :action => "helpregister" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.login'), :controller => "helps", :action => "helplogin" %>
	</p>
  </dd>
  
  <dt><%= t('.findproduct') %></dt>
  <dd>
    <p>
	  <%= link_to t('.searchbykeyword'), :controller => "helps", :action => "helpsearchbykeyword" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.searchbytype'), :controller => "helps", :action => "helpsearchbytype" %>
	</p>
  </dd>
  
  <dt><%= t('.cart') %></dt>
  <dd>
    <p>
	  <%= link_to t('.addtocart'), :controller => "helps", :action => "helpaddtocart" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.deletefromcart'), :controller => "helps", :action => "helpdeletefromcart" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.clearcart'), :controller => "helps", :action => "helpclearcart" %>
	</p>
  </dd>
  
  <dt><%= t('.ordermanagement') %></dt>
  <dd>
    <p>
	  <%= link_to t('.checkout'), :controller => "helps", :action => "helpcheckout" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.vieworder'), :controller => "helps", :action => "helpvieworder" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.changeorder'), :controller => "helps", :action => "helpchangeorder" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.deleteorder'), :controller => "helps", :action => "helpdeleteorder" %>
	</p>
  </dd>
  
  <dt><%= t('.commentmanagement') %></dt>
  <dd>
    <p>
	  <%= link_to t('.createcomment'), :controller => "helps", :action => "helpcreatecomment" %>
	  &nbsp;&nbsp;&nbsp;
	  <%= link_to t('.viewcomment'), :controller => "helps", :action => "helpviewcomment" %>
	</p>
  </dd>
  
  <dt><%= t('.internationalization') %></dt>
  <dd>
    <p>
	  <%= link_to t('.changelanguage'), :controller => "helps", :action => "helpchangelanguage" %>
	</p>
  </dd>

</dl>
