<%= form_for(@ccategory) do |f| %>
  <% if @ccategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ccategory.errors.count, "error") %> prohibited this ccategory from being saved:</h2>

      <ul>
      <% @ccategory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :classification, t('.type') %>
    <%= f.select :ptitle,
                 @titles,
                 :prompt => t('.hint')%>
  </div>
  <div class="actions">
    <%= f.submit t('.create') %>
  </div>
<% end %>
