<h1>Listing ccategories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Ptitle</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ccategories.each do |ccategory| %>
  <tr>
    <td><%= ccategory.title %></td>
    <td><%= ccategory.ptitle %></td>
    <td><%= link_to 'Show', ccategory %></td>
    <td><%= link_to 'Edit', edit_ccategory_path(ccategory) %></td>
    <td><%= link_to 'Destroy', ccategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ccategory', new_ccategory_path %>
