<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, t('.title') %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description, t('.description') %>
    <%= f.text_area :description, :rows => 12 %>
  </div>
  <div class="field">
    <%= f.label :image_url, t('.image_url') %>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :price, t('.price') %>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :author, t('.author') %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :publisher, t('.publisher') %>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label :ISBN %>
    <%= f.text_field :ISBN %>
  </div>
  <div class="field">
    <%= f.label :category_title, t('.category_title') %>
    <%= f.select :category_title,
                 @titles,
                 :prompt => t('.select_a_category')%>
  </div>
  <div class="actions">
    <%= f.submit t('.update') , :class => "btn" %>
  </div>
<% end %>
