<div id="product_list">
  <h1>Listing products</h1>

  <% @products.each do |product| %>
		<div class="entry">
			<div class="span1">
		    <%= link_to(image_tag(product.image_url, :class => 'list_image'), product) %>
		  </div>
		  <div class="span-two-thirds">
		    <h4><%= link_to truncate(strip_tags(product.title), :length => 50), product, :title => product.title %></h4>
		    <%= truncate(strip_tags(product.description), :length => 300) %>
			</div>
			<% if session[:admin] %>
		  <div class="span1" id="link-group">
		    <p><%= link_to ' Show ', product, :class => ['btn', 'btn-primary', "span1"] %></p>
		    <p><%= link_to ' Edit ', edit_product_path(product), :class => ['btn', 'btn-success', "span1"] %></p>
				<p><%= link_to 'Destroy', product, 
		                :confirm => 'Are you sure?',
		                :method => :delete, :class => ['btn', 'btn-danger', "span1"]%></p>
		  </div>
		  <% end %>
		</div>
  <% end %>
</div>

<p><%= will_paginate @products %></p>

<% if session[:admin] %>
	<%= link_to 'New product', new_product_path %>
<% end %>
