<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div>
	<h2><%= @product.title %></h2><br />
	<div class="left">
		<%= image_tag(@product.image_url, :class => 'product_image') %>
	</div>
	<div class="left">
		<table>
		<tr>
		<td class="td"><b>Title:</b><%= @product.title %></td>
		<td class="td"><b>Author:</b><%= @product.author %></td>
		</tr>
		<tr>
		<td class="td"><b>Punblisher:</b><%= @product.publisher %></td>
		<td class="td"><b>ISBN:</b><%= @product.ISBN %></td>
		</tr>
		<tr>
		<td class="td"><b>Price:</b><%= @product.price %></td>
		<td class="td"><b>Category:</b><%= @product.category_title %></td>
		</tr>	
		</table>
	</div>
	<div class="clear">
	</div>
</div>

<br />
<p>
  <b>Description:</b>
  <%= sanitize @product.description %>
</p>

<h2>Comments</h2>
<% @product.comments.each do |comment| %>
  <%= render comment %>
<% end %>

<h2>Add a new comment:</h2>
<%= render "comments/form" %>

<br />

<% if session[:admin] %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>

<%= link_to 'Back', products_path %>
