<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div>
	<h2><%= @product.title %></h2><br />
	<div class="span2">
		<%= image_tag(@product.image_url, :class => 'product_image') %>
	</div>
	<div class="span6">
		<p><b><%= t('.author')%>: </b><%= @product.author %></p>
		<p><b><%= t('.publisher')%>: </b><%= @product.publisher %></p>
		<p><b>ISBN: </b><%= @product.ISBN %></p>
		<p><b><%= t('.price')%>: </b><%= number_to_currency(@product.price) %></p>
		<p><b><%= t('.category')%>: </b><%= @product.category_title %></p>
	</div>
</div>

<div id="description">
  	<h3><%= t('.description')%></h3>
  	<%= sanitize @product.description %>
</div>

<div>
	<h3><%= t('.comment')%></h3>
	<% @product.comments.each do |comment| %>
		<%= render comment %>
	<% end %>
	<br />
	<% if session[:user_id] %>
		<h4><%= t('.comment_action')%></h4>
		<%= render "comments/form" %>
	<% end %>
</div>

<% if session[:admin] %>
<%= link_to t('.edit'), edit_product_path(@product) %> |
<% end %>

<%= link_to t('.back'), products_path %>
