<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<h2><%= @product.title %></h2>
<div class="" id="show-head">
	<div class="span2">
		<%= image_tag(@product.image_url, :class => 'product_image') %>
	</div>
	<div class="span5">
		<p><b><%= t('.author')%>: </b><%= @product.author %></p>
		<p><b><%= t('.publisher')%>: </b><%= @product.publisher %></p>
		<p><b>ISBN: </b><%= @product.ISBN %></p>
		<p><b><%= t('.price')%>: </b><%= number_to_currency(@product.price) %></p>
		<p><b><%= t('.category')%>: </b><%= @product.category_title %></p>
	</div>
	<div class="add-to-cart">
		<b>Quantity</b><br />
		<%= form_tag line_items_path(:product_id => @product), :remote=>true do %>
			<%= hidden_field_tag :product_id, @product.id %>
			<%= number_field_tag :quantity, 1, :class => "span1", :min => 1 %>
			<%= submit_tag t('.add_html'), :class=>["btn"] %>
		<% end %><!--
		<%= number_field_tag :quantity, 1, :class => "span1", :min => 1 %>
		<%= button_to t('.add_html'), line_items_path(:product_id => @product), 
      :remote => true , :class => "btn" %>-->
	</div>
</div>

<div id="description">
  	<h3><%= t('.description')%></h3>
  	<%= sanitize @product.description %>
</div>

<div id="comments">
	<h3><%= @product.comments.count %> <%= t('.comment')%></h3>
	<%= render @product.comments %>
	<br />
	<% if session[:user_id] %>
		<%= render "comments/form" %>
	<% end %>
</div>

<% if session[:admin] %>
<%= link_to t('.edit'), edit_product_path(@product) %> |
<% end %>

<%= link_to t('.back'), products_path %>

<br />
