<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<div>
	<h2><%= @product.title %></h2><br />
	<div class="left">
		<%= image_tag(@product.image_url, :class => 'product_image') %>
	</div>
	<div class="left">
		<table>
		<tr>
		<td class="td"><b>Title:</b><%= @product.title %></td>
		<td class="td"><b>Author:</b><%= @product.author %></td>
		</tr>
		<tr>
		<td class="td"><b>Punblisher:</b><%= @product.publisher %></td>
		<td class="td"><b>ISBN:</b><%= @product.ISBN %></td>
		</tr>
		<tr>
		<td class="td"><b>Price:</b><%= @product.price %></td>
		<td class="td"><b>Category:</b><%= @product.category_title %></td>
		</tr>	
		</table>
	</div>
	<div class="clear">
	</div>
</div>

<br />
<p>
  <b>Description:</b>
  <%= sanitize @product.description %>
</p>

<h2>Comments</h2>
<% @product.comments.each do |comment| %>
  <p>
    <b><%= comment.user.name %></b>
	commented in
	<b><%= comment.created_at %></b>
	:
  </p>

  <p>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a new comment:</h2>
<%= form_for([@product, @product.comments.build]) do |f| %>
  <div class="field">
	<br />
    <%= f.text_area :body, :rows => 5 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<% if session[:admin] %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>

<%= link_to 'Back', products_path %>
