<tr>
    <td><%= line_item.product.title %></td>
	<td>
		<%= form_tag quantity_line_item_path(line_item), :remote => true do %>
			<%= number_field_tag :quantity, line_item.quantity, :class=>"item-quantity", :in => 1..999, :onchange=>"this.form.request({onSuccess: function(response) {eval(response)}});" %>
		<% end %>
	</td>
    <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
	<td><%= link_to 'X', line_item, :method => :delete, :class => ['btn', 'btn-danger', 'btn-mini'], :remote => true %></td>
</tr>
