<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= javascript_include_tag "prototype", "rails", "effects", "dragdrop", "controls" %>
  <%= javascript_include_tag "jquery.min" %>
  <script>
	var $j = jQuery.noConflict();
  </script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  <div class="navbar navbar-fixed-top" id="banner">
	<div class="container">
	  <div class="row">
		<div class="span2">
		  <%= image_tag("logo.png") %>
		</div>
		<div class="span10" id="account-bar">
		  <%= form_tag store_path, :class => 'locale' do %>
				<%= select_tag 'set_locale',
					options_for_select(LANGUAGES, I18n.locale.to_s),
					:onchange => 'this.form.submit()' %>
				<%= submit_tag 'submit' %>
				<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		  <% end %>
			<% if session[:user_id] %>
				<% if session[:admin] %>
					Welcome, <%=link_to User.find(session[:user_id]).name, admin_url %>
				<% else %>
					Welcome, <%=link_to User.find(session[:user_id]).name, customer_url %>
				<% end %>
				<%= link_to t('.logout'), logout_path, :method => :delete %>
			<% else %>
              <%= link_to t('.login'), login_path %>
              <%= link_to t('.register'), register_path %>
			<% end %>
		</div>
	  </div>
	</div>
  </div>
  
  <div class="container" id="content">
    <div id="header">
		<div class="header-title">
			<%= @page_title || t('.title') %>
		</div>
	</div>
	
	<div class="navbar" id="header-navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><%= link_to t('.home'), store_path %></li>
				<li><%= link_to t('.products'), products_path %></li>
				<% if session[:user_id] %>
					<li><%= link_to t('.orders'), orders_path %></li>
					<% if session[:admin] %>
						<li><%= link_to t('.users'), users_path %></li>
						<li><%= link_to t('.category'), pcategories_path %></li>
					<% end %>
				<% end %>
				<li><%= link_to t('.helps'), helps_path %></li>
			</ul>
      <%= form_tag search_index_path, :method => :get, :class => 'navbar-form pull-left' do %>
        <%= text_field_tag :search, params[:search], :class => 'span2', :placeholder => t('.searchhint') %>
        <%= submit_tag "Search", :name => nil, :style => 'display: none;' %>
      <% end %>
		</div>
	</div>
	<div id="columns">
    <div id="side">
	  <div class="carts">
		<% if @cart %>
			<a id="cart-holder" href="<%= cart_path(@cart) %>">
				<i class="icon-shopping-cart icon-white"></i> Cart
			</a>
			<div class="cart-content" id="cart">
				<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do%>
					<%= render @cart %>
				<% end %>
			</div>
		<% end %>
	  </div>
	<%= render "pcategories/pcategory" %><br />

    </div>

    <div id="main">
      <%= yield :layout %>
      <br />
    </div>
  </div>
  <div class="clear"></div>
  <div id="copyright">
		<p>&copy; 2005 - 2012 RainbowFlower. All rights reserved.</p>
	</div>
 
</body>
</html>
