<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= stylesheet_link_tag "style", :media => "all" %>
  <%= javascript_include_tag "prototype", "rails", "effects", "dragdrop", "controls" %>
  <%= javascript_include_tag "jquery.min" %>
  <script>
	var $j = jQuery.noConflict();
  </script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  <div class="navbar navbar-fixed-top" id="banner">
	<div class="container">
	  <div class="row">
		<div class="span2">
		  <%= image_tag("logo.png") %>
		</div>
		<div class="span6 offset4" id="account-bar">
		  <%= form_tag store_path, :class => 'locale' do %>
			<%= select_tag 'set_locale',
			options_for_select(LANGUAGES, I18n.locale.to_s),
			:onchange => 'this.form.submit()' %>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		  <% end %>
		<% if session[:user_id] %>
			<%= button_to 'Logout', logout_path, :method => :delete, :class=>"pull-right" %>
		<% end %>
		<a href="#">Register</a> 
		<a href="login">Login</a>
		</div>
	  </div>
	</div>
  </div>
  
  <div class="container" id="content">
    <div class="carousel slide" id="header">
		<div class="carousel-inner">
			<div class="active item">
				<%= image_tag("xiaowangzi.png") %>
				<div class="carousel-caption">
					<%= image_tag("littleprince.jpg") %>
					<h3>小王子</h3>
					<p>《小王子》所讲述的是美丽的伤感故事，飞行员“我”因为飞机出了故障，被迫降落在远离人烟的撒哈拉沙漠上，这时一位迷人而神秘的小男孩出现了，执拗地请“我”给他画一只绵羊。他就是小王子...</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag("kite.png") %>
				<div class="carousel-caption">
					<%= image_tag("kiterunner.jpg") %>
					<h3>追风筝的人</h3>
					<p>12岁的阿富汗富家少爷阿米尔与仆人哈桑情同手足。然而，在一场风筝比赛后，发生了一件悲惨不堪的事，阿米尔为自己的懦弱感到自责和痛苦，逼走了哈桑，不久，自己也跟随父亲逃往美国...</p>
				</div>
			</div>
			<div class="item">
				<%= image_tag("norwegian.png") %>
				<div class="carousel-caption">
					<%= image_tag("norwegianwood.jpg") %>
					<h3>挪威的森林</h3>
					<p>这是一部动人心弦的、平缓舒雅的、略带感伤的恋爱小说。小说主人公渡边以第一人称展开他同两个女孩间的爱情纠葛。渡边的第一个恋人直子原是他高中要好同学木月的女友，后来木月自杀了...</p>
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#header" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#header" data-slide="next">&rsaquo;</a>
	
		<div class="new-label">
			<%= image_tag("new.png") %>
		</div>
	</div>
	
	<div class="navbar" id="header-navbar-index">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="active"><%= link_to 'Home', store_path %></li>
				<li><%= link_to 'Products', products_path %></li>
				<li><%= link_to 'Orders', orders_path %></li>
				<% if session[:admin] %><li><%= link_to 'Users', users_path %></li><% end %>
				<li><%= link_to 'Helps', helps_path %></li>
			</ul>
			<form class="navbar-form pull-left">
				<input type="text" class="span2" placeholder="书目/作者/出版社">
			</form>
		</div>
	</div>
	<div id="columns">
    <div id="side">
	<!--
	  <div id="cart">
		  <% if @cart %>
			  <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do%>
				<%= render @cart %>
			  <% end %>
		  <% end %>
	  </div>
	-->
	  <div class="carts">
		<% if @cart %>
			<a id="cart-holder" href="#">
				<i class="icon-shopping-cart icon-white"></i>  Cart
			</a>
			<div class="cart-content" id="cart">
				<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do%>
					<%= render @cart %>
				<% end %>
			</div>
		<% end %>
	  </div>
	  <%= render "pcategories/pcategory" %><br />
	  <!--
	  <%= link_to 'Home',			store_path    %><br />
      <%= link_to 'Products', products_path %><br />
      <% if session[:user_id] %>
        <%= link_to 'Orders',   orders_path   %><br />
        <%= link_to 'Users',    users_path    %><br />
        <br/>
        <%= button_to 'Logout', logout_path, :method => :delete %>
      <% end %>
	  -->

    </div>

    <div id="main">
      <%= yield :layout %>
      <br /><hr />
      <div id="copyright">
    		<p style="text-align:center">&copy; 2005 - 2012 RainbowFlower. All rights reserved.</p>
    	</div>
    </div>
  </div>
  
  <!--
  <div id="banner">
  	<%= form_tag store_path, :class => 'locale' do %>
  	  <%= select_tag 'set_locale',
  	    options_for_select(LANGUAGES, I18n.locale.to_s),
  	    :onchange => 'this.form.submit()' %>
  	  <%= submit_tag 'submit' %>
  	  <%= javascript_tag "$$('.locale input').each(Element.hide)" %>
  	  <% end %>
  	  
    <%= image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
  </div>

  <div id="columns">
    <div id="side">
	  <div id="cart">
		  <% if @cart %>
			  <%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do%>
				<%= render @cart %>
			  <% end %>
		  <% end %>
	  </div>
	  <br />
	  <%= link_to 'Home',			store_path    %><br />
    <%= link_to 'Products', products_path %><br />
	  <!--
      <a href="http://www...."><%= t('.home') %></a><br />
      <a href="http://www..../faq"><%= t('.questions') %></a><br />
      <a href="http://www..../news"><%= t('.news') %></a><br />
      <a href="http://www..../contact"><%= t('.contact') %></a><br />
		--><!--
      <% if session[:user_id] %>
        <%= link_to 'Orders',   orders_path   %><br />
        <%= link_to 'Users',    users_path    %><br />
        <br/>
        <%= button_to 'Logout', logout_path, :method => :delete %>
      <% end %>

    </div>

    <div id="main">
      <%= yield :layout %>
      <br /><hr />
      <div id="copyright">
    		<p style="text-align:center">&copy; 2005 - 2012 RainbowFlower. All rights reserved.</p>
    	</div>
    </div>
    
  </div>
    -->
</body>
</html>
